body{
    margin-right: 30px;
    margin-left: 30px;
    background-color: pink;
}

br{
    margin-bottom: 15px;
}

hr{
    margin-top: 25px;
    color:rgb(214, 210, 210);
}

h3{
    text-decoration: underline;
}

table{
    background-color: rgb(138, 138, 214);
}

th{
    font-weight: normal;
}

td{
    text-align: center;
}

ol{
    margin-left: 10px;
}

ul{
    margin-left: 10px;
}